<div class="ask-container">

  <h1 class="mb-4" >Stupid Coaching</h1>
  <p class="label mb-2" >Ask your coach anything:</p>

  <form action="/answer" data-turbo="false">
    <input type="text" name="question">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </form>

</div>
